@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');

.parallax {
    background-image: url("parallax.jpg");
    width: 100%;

    min-height: 900px; 
    filter: grayscale(50%);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 20px;
}

.anim-fadein{
    animation-name: anim-fadein;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.box {
    width: 40%;
    min-height: 300px;
    border-radius: 20px;
    background-color: #666666;
    align-items: center;
}

@keyframes anim-fadein{
    from {
        opacity: 0;
    }to{
        opacity: 1;
    }
}

h1 {
	font-size: 120px;
	font-family: 'Poiret One', cursive;
    font-weight: 300;
    font-variant: small-caps;
	color: #ffffff;
}