.fade img {
  position: absolute;
  transform: translateX(-50%);
  transition: ease-in-out .5s;
}

.fade img:nth-child(2) {
  opacity: 0;
}

.fade img:nth-child(1) {
  opacity: 1;
}

.fade:hover img:nth-child(2) {
  opacity: 1;
}

.fade:hover img:nth-child(1) {
  opacity: 0;
}